doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Relat&oacute;rios
  // Bootstrap Core CSS
  link(href='/css/bootstrap.min.css' rel='stylesheet')
  // MetisMenu CSS
  link(href='/css/metisMenu.min.css' rel='stylesheet')
  // Timeline CSS
  link(href='/css/timeline.css' rel='stylesheet')
  // Custom CSS
  link(href='/css/startmin.css' rel='stylesheet')
  // Morris Charts CSS
  link(href='/css/morris.css' rel='stylesheet')
  // Custom Fonts
  link(href='/css/font-awesome.min.css' rel='stylesheet' type='text/css')
#wrapper
  // Navigation
  #page-wrapper(style='padding-top: 0%; background-color: rgb(221, 221, 221); min-height: 429px;')
    .row
      .col-lg-12
        h1.page-header Dashboard
      // /.col-lg-12
    // /.row
    .row
      .col-lg-3.col-md-6
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-comments.fa-5x
              .col-xs-9.text-right
                .huge 26
                div New Comments!
          a(href='#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-tasks.fa-5x
              .col-xs-9.text-right
                .huge 12
                div New Tasks!
          a(href='#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-yellow
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-shopping-cart.fa-5x
              .col-xs-9.text-right
                .huge 124
                div New Orders!
          a(href='#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-red
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-support.fa-5x
              .col-xs-9.text-right
                .huge 13
                div Support Tickets!
          a(href='#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
    // /.row
    .row
      .col-lg-6
        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw
            |  Area Chart Example
            .pull-right
              .btn-group
                button.btn.btn-default.btn-xs.dropdown-toggle(type='button' data-toggle='dropdown')
                  | Actions
                  span.caret
                ul.dropdown-menu.pull-right(role='menu')
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
          // /.panel-heading
          .panel-body
            #morris-area-chart(style='position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
          // /.panel-body
        // /.panel
        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw
            |  Bar Chart Example
            .pull-right
              .btn-group
                button.btn.btn-default.btn-xs.dropdown-toggle(type='button' data-toggle='dropdown')
                  | Actions
                  span.caret
                ul.dropdown-menu.pull-right(role='menu')
                  li
                    a(href='#') Action
                  li
                    a(href='#') Another action
                  li
                    a(href='#') Something else here
                  li.divider
                  li
                    a(href='#') Separated link
          // /.panel-heading
          .panel-body
            .row
              // /.col-lg-4 (nested)
              .col-lg-12
                #morris-bar-chart(style='position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);')
              // /.col-lg-8 (nested)
            // /.row
          // /.panel-body
        // /.panel
        // /.panel
      // /.col-lg-8
      .col-lg-6
        // /.panel
        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw
            |  Donut Chart Example
          .panel-body
            #morris-donut-chart
          // /.panel-body
        // /.panel
        .panel.panel-default
          .panel-heading
            i.fa.fa-bell.fa-fw
            |  Notifications Panel
          // /.panel-heading
          .panel-body
            .list-group
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                |  New Comment
                span.pull-right.text-muted.small
                  em 4 minutes ago
              a.list-group-item(href='#')
                i.fa.fa-twitter.fa-fw
                |  3 New Followers
                span.pull-right.text-muted.small
                  em 12 minutes ago
              a.list-group-item(href='#')
                i.fa.fa-envelope.fa-fw
                |  Message Sent
                span.pull-right.text-muted.small
                  em 27 minutes ago
              a.list-group-item(href='#')
                i.fa.fa-tasks.fa-fw
                |  New Task
                span.pull-right.text-muted.small
                  em 43 minutes ago
              a.list-group-item(href='#')
                i.fa.fa-upload.fa-fw
                |  Server Rebooted
                span.pull-right.text-muted.small
                  em 11:32 AM
              a.list-group-item(href='#')
                i.fa.fa-bolt.fa-fw
                |  Server Crashed!
                span.pull-right.text-muted.small
                  em 11:13 AM
              a.list-group-item(href='#')
                i.fa.fa-warning.fa-fw
                |  Server Not Responding
                span.pull-right.text-muted.small
                  em 10:57 AM
              a.list-group-item(href='#')
                i.fa.fa-shopping-cart.fa-fw
                |  New Order Placed
                span.pull-right.text-muted.small
                  em 9:49 AM
            // /.list-group
          // /.panel-body
// jQuery
script(src='/js/jquery.min.js')
// Bootstrap Core JavaScript
script(src='/js/bootstrap.min.js')
// Metis Menu Plugin JavaScript
script(src='/js/metisMenu.min.js')
// Morris Charts JavaScript
script(src='/js/raphael.min.js')
script(src='/js/morris.min.js')
script(src='/js/morris-data.js')
// Custom Theme JavaScript
script(src='/js/startmin.js')