doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    title TCC
    script(src='/jquery/jquery.min.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')
  body(style="padding-top: 0%; background-color: #ddd")
  div(style='margin:100px;')
    center
      div(class='jumbotron' style='padding:140px;')
        br
        h1(style="margin-bottom: 4%") Análise e Desenvolvimento de Sistemas
          small.text-muted  - Eduardo Souza
        em.h4 Análise de publicações em páginas comerciais no Facebook com Processamento de Linguagem Natural.
        p
        center
          a.btn.btn-success.btn-lg.clearfix(href="/listar" style="margin-top: 4%") Listar publicações